body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #2892ff;
}

/* ========FORM======== */
.form {
  margin-bottom: 30px;
}

.container {
  background-color: #fff;
  box-sizing: border-box;
  width: 80vw;
  height: 80vh;
  margin: 10vh auto;
  padding: 4%;
}

.header {
  font-size: 48px;
  margin-bottom: 20px;
}

.form-label {
  display: block;
}

.form-input {
  display: inline-block;
  padding: 2px;
  margin-right: 30px;
  max-width: 300px;
}

/* ========Name/Value Paie List section======== */

.text {
  margin: 0;
}

.pair-list-container {
  display: flex;
  box-sizing: border-box;
}

.pair-list {
  margin: 0;
  padding: 10px;
  max-width: 300px;
  height: 100px;
  border: 1px solid black;
  list-style: none;
  margin-right: 30px;
  overflow: auto;
}

.pair-list li {
  cursor: pointer;
  margin-bottom: 5px;
}

.selected {
  background-color: burlywood;
}

.buttons-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.buttons-list button {
  margin: 0;
}

.buttons-list li:not(:last-child) {
  margin-bottom: 20px;
}

/* ========FOR MOBILE======== */

@media screen and (min-height: 320px) and (max-height: 529px) {
  .header {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .container {
    padding: 10px;
  }

  .form-label {
    font-size: 12px;
  }

  .form {
    margin-bottom: 10px;
  }

  .text {
    font-size: 12px;
  }

  /* .buttons-list {
    display: flex;
    flex-wrap: wrap;
  } */

  .buttons-list li:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 320px) and (min-height: 530px) {
  .pair-list {
    max-width: 300px;
  }

  .form-input {
    display: inline-block;
    padding: 2px;
    margin-right: 20px;
    width: 67%;
  }
}
